<!-- <h4 class="text-center mt-5">Three-<span style="color:#FFB000 ;">Cards</span>-Analytics</h4> -->
<br><br><br><br>
<h1 class="text-center mt-5 text-light">Shopping Cart</h1>
<p class="mb-5 text-center">
  <i class="text-warning font-weight-bold">items in your cart</i></p>
 <table class="table table-striped table-hover table-sm mt-5">
    <thead class="text-light">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Image</th>
        <th class="text-center">FoodName</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Price</th>
        <th class="text-center"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of cartItems ; let i=index">
        <th class="text-center text-light">{{i+1}}</th>
        <td class="text-center">
          <img *ngIf="data.imageDetails.imageUrl; else indexImage" [src]="Url + data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;">
          <ng-template #indexImage>
            <img [src]="Url + data.imageDetails[0].imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;">
          </ng-template>
        </td>
        <td class="text-center text-light">{{data.imageHeading}}  {{data.cardName}} {{data.FoodName}}</td>
        <!-- <td class="text-center text-light">
          <button class="btn btn-sm text-light" (click)="decrementQuantity(i)">-</button>
          {{i+1}}
          <button class="btn btn-sm text-light" (click)="incrementQuantity(i)">+</button>
        </td> -->
        <td class="text-center text-light">1</td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">${{data.Price}} {{data.FoodPrice}} </td>

        <td><button class="btn" (click)="removeCartItemById(data._id)" style="background-color: #FFB000;">Remove Item</button></td>
        <td></td>
      </tr>
    </tbody>
  </table>  
<div class="float-right text-right">
    <h4>Subtotal:</h4>
    <h1>${{totalPrice}}</h1>
</div>

<div class="container mt-5">

  <div #paymentRef>

  </div>
</div>











