<h2 class="ms-5">Upload Hero Image</h2>
<form>
    <label for="myfile" class="mt-5">Select a file:</label>
    <input type="file" id="myfile" name="myfile" multiple  #fileSelect>
    <button type="submit">Submit</button>
  </form>

  <hr>

  <h3>Four Cards</h3>
<form [formGroup]="fourcards" (ngSubmit)="Submitmyform()">
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 feature-row">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <!-- <img class="img-fluid" src="img/icon/icon-1.png" alt="Icon"> -->
                    </div>
                    <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="Headingone" required>
                    <textarea class="mb-0 form-control" placeholder="Enter your text" formControlName="descriptionone"></textarea>
                    <input type="file" id="myfile" name="myfile" multiple (change)="getImages($event)" #fileSelect class="mt-3">
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <!-- <img class="img-fluid" src="img/icon/icon-2.png" alt="Icon"> -->
                    </div>
                     <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="HeadingTwo" required>
                     <textarea class="mb-0 form-control" placeholder="Enter your text" formControlName="descriptionTwo"></textarea>     
                     <input type="file" id="myfile" name="myfile" multiple (change)="getImages($event)"  #fileSelect class="mt-3">
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                      <!-- <img class="img-fluid" src="img/icon/icon-3.png" alt="Icon"> -->
                    </div>
                    <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="HeadingThree" required>
                    <textarea class="mb-0 form-control" placeholder="Enter your text" formControlName="descriptionThree"></textarea>
                    <input type="file" id="myfile" name="myfile" multiple (change)="getImages($event)"  #fileSelect class="mt-3">
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <!-- <img class="img-fluid" src="img/icon/icon-4.png" alt="Icon"> -->
                    </div>
                    <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="HeadingFour" required>
                    <textarea class="mb-0 form-control" placeholder="Enter your text" formControlName="descriptionFour"></textarea>
                    <input type="file" id="myfile" name="myfile" multiple (change)="getImages($event)"  #fileSelect class="mt-3">
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn-primary" type="submit">Submit</button>
</form>