<h1 class="text-center mt-4">foodies-Analytics !</h1>
<h4 class="text-center mt-4">Banner-<span style="color:#FFB000 ;">Image</span>-Analytics</h4>
<table class="table table-striped table-hover table-sm">
    <thead class="text-light">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Banner Image</th>
        <th class="text-center">Status</th>
        <th class="text-center">status summary</th>
        <th class="text-center" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of Bannerimage ; let i=index">
        <th class="text-center">{{i+1}}</th>
        <td class="text-center"><img [src]="Url+data.imageDetail[0].imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
        <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="GetHeroImagebyId(data._id)"></i></td>
        <!-- <td class="text-center"><i class="fa fa-pencil" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal1"  ></i></td>
        <td class="text-center"><button class="btn btn-outline-danger" (click)="deleteparticularDataById(data._id)"> Soft delete</button></td> -->
        <td></td>
        <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeleteHeroImage(data._id)">Hard Delete</button></td>
      </tr>
    </tbody>
  </table>



<!-- Hero Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Banner Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col" *ngFor="let data of particularproductData?.imageDetail">
                <img [src]="Url+data.imageUrl" class="img fluid w-40 h-40 mt-5 ms-5" >
              </div>
              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Modal  -->
  

   <!-- ThreeHomecards -->
   <h4 class="text-center mt-5">Three-<span style="color:#FFB000 ;">Cards</span>-Analytics</h4>
   <table class="table table-striped table-hover table-sm mt-5">
       <thead class="text-light">
         <tr>
           <th class="text-center">#</th>
           <th class="text-center">Image</th>
           <th class="text-center">FoodName</th>
           <th class="text-center">Status</th>
           <th class="text-center">status summary</th>
           <th class="text-center" colspan="2">Actions</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let data of ThreeHomeCards ; let i=index">
           <th class="text-center text-light">{{i+1}}</th>
           <td class="text-center"><img [src]="Url+data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
           <td class="text-center text-light">{{data.imageHeading}}</td>
           <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
           <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
           <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal9" (click)="GetThreeCardById(data._id)"></i></td>
           <td></td>
           <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeleteThreehomeCardsById(data._id)">Hard Delete</button></td>
         </tr>
       </tbody>
     </table>
     <!-- ThreeHomecards -->
   
     <!-- ThreeHomeCard Modal -->
     <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true" >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header  text-white">
            <h5 class="modal-title text-dark" id="exampleModalLabel9">{{particualarproductofthreehomecards?.imageHeading}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div *ngIf="particualarproductofthreehomecards?.imageDetails">
                  <ng-container *ngFor="let data of  particualarproductofthreehomecards?.imageDetails">
                    <img [src]="Url+data.imageUrl" class="img-fluid w-40 h-40 mt-5 ms-5">
                  </ng-container>
                </div>
          <h1 class="mt-5">Frequently-Queston</h1>
          <h5 class="modal-title mt-5 text-dark" id="exampleModalLabel9"><span style="color: blue;">FoodName:</span>&nbsp;&nbsp;{{particualarproductofthreehomecards?.imageHeading}}</h5>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel9"><span style="color: blue;"><b>FoodDescription:</b></span>&nbsp;&nbsp;{{particualarproductofthreehomecards?.backflipCardDescription}}</p>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel9"><span style="color: blue;"><b>FoodDescription2:</b></span>&nbsp;&nbsp;{{particualarproductofthreehomecards?.backflipCardDescription2}}</p>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel9"><span style="color: blue;"><b>Price:</b></span>&nbsp;&nbsp;{{particualarproductofthreehomecards?.Price}}</p>
 
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
     <!-- ThreeHomeCard Modal  -->


  <!-- fourcards -->
  <h4 class="text-center mt-5">Four-<span style="color:#FFB000 ;">Cards</span>-Analytics</h4>
<table class="table table-striped table-hover table-sm mt-5">
    <thead class="text-light">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Image</th>
        <th class="text-center">FoodName</th>
        <th class="text-center">Status</th>
        <th class="text-center">status summary</th>
        <th class="text-center" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of FourCards ; let i=index">
        <th class="text-center text-light">{{i+1}}</th>
        <td class="text-center"><img [src]="Url+data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
        <td class="text-center text-light">{{data.cardName}}</td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
        <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
        <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="GetFourCardsByItId(data._id)"></i></td>
        <td></td>
        <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeletFourCards(data._id)">Hard Delete</button></td>
      </tr>
    </tbody>
  </table>
  <!-- fourcards -->
  <!-- FourCard Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabe1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark " id="exampleModalLabel1">{{particularproductcard?.cardName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col" *ngFor="let data of particularproductcard?.imageDetails">
                <img [src]="Url+data.imageUrl" class="img fluid w-40 h-40 mt-5 ms-5"> 
              </div>
              <h5 class="modal-title text-dark" id="exampleModalLabel">{{particularproductcard?.cardName}}</h5>
              <p class="text-dark">{{particularproductcard?.cardDescriptionFour}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FourCard Modal  -->



 







    <!-- Twocards -->
    <h4 class="text-center-light mt-5">Two-<span style="color:#FFB000 ;">Cards</span>-Analytics</h4>
    <table class="table table-striped table-hover table-sm mt-5">
        <thead class="text-light">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Image</th>
            <!-- <th class="text-center">FoodName</th> -->
            <th class="text-center">Status</th>
            <th class="text-center">status summary</th>
            <th class="text-center" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of TwoCards ; let i=index">
            <th class="text-center text-light">{{i+1}}</th>
            <td class="text-center"><img [src]="Url+data.imageDetail[0].imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
            <!-- <td class="text-center">{{data.cardName}}</td> -->
            <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
            <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
            <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="GetTwoCardsById(data._id)"></i></td>
            <td></td>
            <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeleteTwoCards(data._id)">Hard Delete</button></td>
          </tr>
        </tbody>
      </table> 
      <!-- Twocards -->

      <!-- two- model -->
      <!-- <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header  text-white">
              <h5 class="modal-title" id="exampleModalLabel2">{{particularproductcard?.cardName}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col" *ngFor="let data of  particularproducttwo?.imageDetail">
                    <img [src]="Url+data.imageUrl" class="img-fluid w-50 h-50 mt-5 ms-5"> 
                  </div>
           
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> -->
 <!-- two-model -->




   <!-- frequently question -->
   <h4 class="text-center mt-5">Frequently&nbsp;<span style="color:#FFB000 ;">ask-Questions</span>-Analytics</h4>
   <table class="table table-striped table-hover table-sm mt-5">
       <thead class="text-light">
         <tr>
           <th class="text-center">#</th>
           <th class="text-center">Question</th>
           <th class="text-center">Answer</th>
           <th class="text-center">Status</th>
           <th class="text-center">status summary</th>
           <th class="text-center" colspan="2">Actions</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let data of  frequentlyque ; let i=index">
           <th class="text-center text-light">{{i+1}}</th>
           <!-- <td class="text-center"><img [src]="Url+data.imageDetail[0].imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td> -->
           <td class="text-center text-light">{{data.headingQue}}</td>
           <td class="text-center text-light">{{data.AnswerQue}}</td>
           <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
           <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
           <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal5" (click)="GetFreqquentlyQuestions(data._id)"></i></td>
           <td></td>
           <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeletFrequentlyQuestion(data._id)">Hard Delete</button></td>
         </tr>
       </tbody>
     </table> 
     <!-- frequently question -->
       

     <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header  text-white">
            <h5 class="modal-title text-dark" id="exampleModalLabel5">{{particularproductque?.headingQue}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col" *ngFor="let data of   particularproductque">
                </div>
          <h1 class="mt-5 text-dark">Frequently-Queston</h1>
          <h5 class="modal-title mt-5 text-dark" id="exampleModalLabel5"><span style="color: blue;">Question:</span>&nbsp;&nbsp;{{particularproductque?.headingQue}}</h5>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel5"><span style="color: blue;"><b>Answer:</b></span>&nbsp;&nbsp;{{particularproductque?.AnswerQue}}</p>
          
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

           <!-- two- model -->
           <!-- <h4 class="text-center mt-5">Two-<span style="color:#FFB000 ;">Cards</span>-Analytics</h4>
           <table class="table table-striped table-hover table-sm mt-5">
               <thead>
                 <tr>
                   <th class="text-center">#</th>
                   <th class="text-center">Image</th>
    
                   <th class="text-center">Status</th>
                   <th class="text-center">status summary</th>
                   <th class="text-center" colspan="2">Actions</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let data of TwoCards ; let i=index">
                   <th class="text-center">{{i+1}}</th>
                   <td class="text-center"><img [src]="Url+data.imageDetail[0].imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
              
                   <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
                   <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
                   <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="GetTwoCardsById(data._id)"></i></td>
                   <td></td>
                   <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeleteTwoCards(data._id)">Hard Delete</button></td>
                 </tr>
               </tbody>
             </table> -->
     <!-- two-model -->

<hr>
     <h1 class="text-center mt-4">Menu-Analytics !</h1>
     <h4 class="text-center mt-4">Starters-<span style="color:#FFB000 ;">Menu</span>-Analytics</h4>
     <table class="table table-striped table-hover table-sm mt-5">
      <thead class="text-light">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Image</th>
          <th class="text-center">FoodName</th>
          <th class="text-center">FoodDes</th>
          <th class="text-center">FoodPrice</th>
          <th class="text-center">Status</th>
          <th class="text-center">status summary</th>
          <th class="text-center" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of StarterCards ; let i=index">
          <th class="text-center text-light">{{i+1}}</th>
          <td class="text-center"><img [src]="Url+data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
          <td class="text-center text-light">{{data.FoodName}}</td>
          <td class="text-center text-light">{{data.FoodDescription}}</td>
          <td class="text-center text-light ">{{data.FoodPrice}}</td>
          <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
          <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
          <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal6" (click)="StarterById(data._id)" ></i></td>
          <td></td>
          <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeleteStarterById(data._id)">Hard Delete</button></td>
        </tr>
      </tbody>
    </table>
  
    <!-- FoodCard Modal -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true" >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header  text-white">
            <h5 class="modal-title text-dark" id="exampleModalLabel6">{{particularproductsta?.FoodName}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div *ngIf="particularproductsta?.imageDetails">
                  <ng-container *ngFor="let data of particularproductsta?.imageDetails">
                    <img [src]="Url+data.imageUrl" class="img-fluid w-40 h-40 mt-5 ms-5">
                  </ng-container>
                </div>
          <h1 class="mt-5 text-dark">Frequently-Queston</h1>
          <h5 class="modal-title mt-5 text-dark" id="exampleModalLabel6"><span style="color: blue;">FoodName:</span>&nbsp;&nbsp;{{particularproductsta?.FoodName}}</h5>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel6"><span style="color: blue;"><b>FoodDescription:</b></span>&nbsp;&nbsp;{{particularproductsta?.FoodDescription}}</p>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel6"><span style="color: blue;"><b>FoodPrice:</b></span>&nbsp;&nbsp;{{particularproductsta?.FoodPrice}}</p>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- FourCard Modal  -->
    

  



<!-- breakfast -->
    <h4 class="text-center mt-4">BreakFasts-<span style="color:#FFB000 ;">Menu</span>-Analytics</h4>
     <table class="table table-striped table-hover table-sm mt-5">
      <thead class="text-light">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Image</th>
          <th class="text-center">FoodName</th>
          <th class="text-center">FoodDes</th>
          <th class="text-center">FoodPrice</th>
          <th class="text-center">Status</th>
          <th class="text-center">status summary</th>
          <th class="text-center" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BreakFastCards ; let i=index">
          <th class="text-center text-light">{{i+1}}</th>
          <td class="text-center"><img [src]="Url+data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
          <td class="text-center text-light">{{data.FoodName}}</td>
          <td class="text-center text-light">{{data.FoodDescription}}</td>
          <td class="text-center text-light">{{data.FoodPrice}}</td>
          <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
          <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
          <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal7" (click)="GetBreakfastById(data._id)" ></i></td>
          <td></td>
          <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeleteBreakfastById(data._id)">Hard Delete</button></td>
        </tr>
      </tbody>
    </table>
  
    <!-- FoodCard Modal -->
    <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true" >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header  text-white">
            <h5 class="modal-title text-dark" id="exampleModalLabel7">{{ particularproductbreak?.FoodName}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div *ngIf=" particularproductbreak?.imageDetails">
                  <ng-container *ngFor="let data of  particularproductbreak?.imageDetails">
                    <img [src]="Url+data.imageUrl" class="img-fluid w-40 h-40 mt-5 ms-5">
                  </ng-container>
                </div>
          <h1 class="mt-5 text-dark">Frequently-Queston</h1>
          <h5 class="modal-title mt-5 text-dark" id="exampleModalLabel7"><span style="color: blue;">FoodName:</span>&nbsp;&nbsp;{{particularproductbreak?.FoodName}}</h5>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel7"><span style="color: blue;"><b>FoodDescription:</b></span>&nbsp;&nbsp;{{particularproductbreak.FoodDescription}}</p>
          <p class="modal-title mt-3 text-dark" id="exampleModalLabel7"><span style="color: blue;"><b>FoodPrice:</b></span>&nbsp;&nbsp;{{particularproductbreak?.FoodPrice}}</p>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- breakfast -->







<!-- Lunch -->
    <h4 class="text-center mt-4">Lunch-<span style="color:#FFB000 ;">Menu</span>-Analytics</h4>
    <table class="table table-striped table-hover table-sm mt-5">
     <thead class="text-light">
       <tr>
         <th class="text-center">#</th>
         <th class="text-center">Image</th>
         <th class="text-center">FoodName</th>
         <th class="text-center">FoodDes</th>
         <th class="text-center">FoodPrice</th>
         <th class="text-center">Status</th>
         <th class="text-center">status summary</th>
         <th class="text-center" colspan="2">Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let data of lunchCards ; let i=index">
         <th class="text-center text-light">{{i+1}}</th>
         <td class="text-center"><img [src]="Url+data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
         <td class="text-center text-light">{{data.FoodName}}</td>
         <td class="text-center text-light">{{data.FoodDescription}}</td>
         <td class="text-center text-light">{{data.FoodPrice}}</td>
         <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status}}</td>
         <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'">{{data.status ===1? 'Active' : 'Not Active'}}</td>
         <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal8" (click)="GetlunchCardById(data._id)" ></i></td>
         <td></td>
         <td class="text-center"><button class="btn btn-outline-danger"  (click)="HardDeletelunchById(data._id)">Hard Delete</button></td>
       </tr>
     </tbody>
   </table>
 
   <!-- FoodCard Modal -->
   <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true" >
     <div class="modal-dialog modal-fullscreen">
       <div class="modal-content">
         <div class="modal-header  text-white">
           <h5 class="modal-title text-dark" id="exampleModalLabel8">{{particularproductLunchcard?.FoodName}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <div class="container">
             <div class="row">
               <div *ngIf="particularproductLunchcard?.imageDetails">
                 <ng-container *ngFor="let data of  particularproductLunchcard?.imageDetails">
                   <img [src]="Url+data.imageUrl" class="img-fluid w-40 h-40 mt-5 ms-5">
                 </ng-container>
               </div>
         <h1 class="mt-5">Frequently-Queston</h1>
         <h5 class="modal-title mt-5 text-dark" id="exampleModalLabel8"><span style="color: blue;">FoodName:</span>&nbsp;&nbsp;{{particularproductLunchcard?.FoodName}}</h5>
         <p class="modal-title mt-3 text-dark" id="exampleModalLabel8"><span style="color: blue;"><b>FoodDescription:</b></span>&nbsp;&nbsp;{{particularproductLunchcard.FoodDescription}}</p>
         <p class="modal-title mt-3 text-dark" id="exampleModalLabel8"><span style="color: blue;"><b>FoodPrice:</b></span>&nbsp;&nbsp;{{particularproductLunchcard?.FoodPrice}}</p>

             </div>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Save changes</button>
         </div>
       </div>
     </div>
   </div>
   <!-- Lunch -->