
<div style="position: relative;">
  <video autoplay loop muted plays-inline class="w-100"  >
    <source src="../../../../assets/pic/videocontact.mp4" type="video/mp4"  >
  </video>
  <div style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);" >
    <h1 style="color: white; font-size: 50px;" >ADVENTURE AWAITS</h1>
    <h4 style="color: white;" class="d-flex justify-content-center">What Are You Waiting For?</h4>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-lg btn-outline-light mx-2 mt-4">GET STARTED</button>
      <button type="button" class="btn btn-lg btn-light mx-2 mt-4">WATCH TRAILER</button>
    </div>
  </div>
</div>
<br><br><br><br>
    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header text-center mt-5">
          <h2 class="text-light">Book A Table</h2>
          <p>Book <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0 mt-5">
          <div class="col-lg-4 reservation-img" style="background-image: url(../../../../assets/pic/tableord.jpg); height: 250px;" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form  [formGroup]="OrderTable" (ngSubmit)="SubmitOrderTableform()"  action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="YourName">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" formControlName="YourEmail">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="YourPhone">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="Date">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars" formControlName="Time">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars" formControlName="People">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" formControlName="Message"></textarea>
                <div class="validate"></div>
              </div>
              <!-- <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div> -->
              <div class="text-center mt-4"><button type="submit" class="btn btn-warning">Book a Table</button></div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>
    </section><!-- End Book A Table Section -->
<!-- <form [formGroup]="WhatsAppForm" (ngSubmit)="Submitwhatsappform()">
    <div>
      <input formControlName="WhatsAppMessage" placeholder="Message">
      <input formControlName="PhoneNumber" placeholder="Phone number">
      <button type="submit">Send</button>
    </div>
  </form> -->
  <!-- <button><a [href]="generateWhatsAppLink()" target="_blank">Chat on WhatsApp</a></button> -->
<br>
<br>
<br>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header text-center">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>contact@example.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                  <strong>Sunday:</strong> Closed
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form   [formGroup]="ContactUs" (ngSubmit)="SubmitContactUsform()"   action="forms/contact.php"  method="post" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required formControlName="UserName">
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required formControlName="UserEmail">
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required formControlName="Subject">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required formControlName="Message"></textarea>
          </div>
          <!-- <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div> -->
       <div class="text-center"><button class="btn btn-warning">Submit</button></div>
          <!-- <div class="text-center"><button type="submit" class="btn btn-success">Send Message</button></div> -->
        </form>
        <!--End Contact Form -->
<div class="whatsapp-icon-container">
  <a [href]="generateWhatsAppLink()" target="_blank" style="text-decoration: none;">
    <i class="circle-ripple fa fa-whatsapp fa-2x"></i>
  </a>
</div>


