
 <!-- Hero Section -->
 <section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Welcome To Foodies</h1>
        <h3>Better Solutions For Your Business</h3>
        <h2> To live a full life, you have to fill your stomach first </h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox  btn-get-started"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img d-flex justify-content-end " data-aos="zoom-in" data-aos-delay="200">
        <img src="../../../../assets/pic/banner.png" class="img-fluid animated custom-img w-100" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Hero Section -->



  <!-- ======= Resturant Locations ======= -->
   <section id="cliens" class="cliens section-bg backcolor pt-4">
    <div class="container">

      <div class="row" data-aos="zoom-in">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../../../assets/pic/no1 (1).png" class="img-fluid rounded-circle" alt="" style="width: 90px; height: 120px;">
          <div class="mt-2 text-center ms-1"><i class="fa fa-map-marker ms-1" aria-hidden="true" style="color: red;"></i>Akabane</div>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../../../assets/pic/no2.png" class="img-fluid rounded-circle" alt="" style="width: 90px; height: 120px;">
          <div class="mt-2 text-center ms-1"><i class="fa fa-map-marker ms-1" aria-hidden="true" style="color: red;"></i>Roppongi.</div>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../../../assets/pic/no3.png" class="img-fluid rounded-circle" alt="" style="width: 90px; height: 120px;">
          <div class="mt-2 text-center ms-1"><i class="fa fa-map-marker ms-1" aria-hidden="true" style="color: red;"></i>Ginza</div>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../../../assets/pic/no4.png" class="img-fluid rounded-circle" alt="" style="width: 90px; height: 120px;">
          <div class="mt-2 text-center ms-1"><i class="fa fa-map-marker ms-1" aria-hidden="true" style="color: red;"></i>Haneda</div>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../../../assets/pic/no5.jfif" class="img-fluid rounded-circle" alt="" style="width: 90px; height: 120px;">
          <div class="mt-2 text-center ms-1"><i class="fa fa-map-marker ms-1" aria-hidden="true" style="color: red;"></i>Ikebukuro</div>
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../../../assets/pic/no6.jfif" class="img-fluid rounded-circle" alt="" style="width: 90px; height: 120px;">
          <div class="mt-2 text-center ms-1"><i class="fa fa-map-marker ms-1" aria-hidden="true" style="color: red;"></i>Meguro</div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Resturant Locations ======= -->



 <h2 class="text-center mt-5 pt-5 text-light">PICKUP <span style="color: #FFB000;">&</span> DELIVERY</h2>
 <h4 class="text-center mt- pt-5">Thin crust pizza, hand-made fresh pasta & more!</h4>

<!-- Three Cards -->

<div class="container our-services">
  <div class="row" >
    <div class="col-lg-4 col-md-6 g-4" *ngFor="let data of ThreehomeImage">
      <div class="flip-container mt-5">
        <div class="flipper">
          <div class="front" style="background: #c78e13;">
            <img class="lazyload" [src]="Url+data.imageDetails.imageUrl" alt="Avatar" style="width:100%; max-height:380px;">
            <h3 class="mt-4">{{data.imageHeading}}</h3>
          </div>
          <div class="back" style="background: #2a302d;">
            <h5 class="mt-5">{{data.backflipCardHeading}}</h5>
            <p>{{data.backflipCardDescription}}</p>
            <p>{{data.backflipCardDescription2}}</p>
            <p>${{data.Price}}</p>
            <button class="btn btn-primary"routerLink="/About-us" (click)="addToCart(data._id)">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Three Cards -->


<div class="fourcardheading  p-5">
  <h3>Delicious Delights</h3>
  <h1 class="mt-4 text-light">Mouth-<span style="color: #FFB000;">watering</span>&nbsp;Menus</h1>
  <h3 class="mt-4">"We'll customize our recommendations to your taste buds"</h3>
</div>



 <!-- Four Cards -->
 <div style="background-color: rgba(0, 0, 0, 0.235);" class="mt-5">
 <div class="container-xxl py-5">
  <div class="container">
      <div class="row g-0 feature-row"  >
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s" *ngFor="let data of AllFourCards" >
  <div class="feature-item border h-100 p-5">
      <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
       
          <img class="img-fluid rounded-circle"  alt="Icon" [src]="Url+data.imageDetails.imageUrl" style="width: 64px; height: 64px;" >
      </div>
      <h5 class="mb-3">{{data.cardName}}</h5>
      <p class="mb-0">{{data.cardDescriptionFour}}</p>
  </div>
</div>
</div>
  </div>
</div>
</div>
 <!-- Four Cards -->

<!-- two Images -->
<div class="showBox  pb-5 py-5 ">
  <p>"Luxury food, luxury restaurant!."<p>
  <p class="delay">"Luxury food, luxury restaurant!."<p>
</div>

<div class="container mt-5">
  <div class="row" >
    <div class="col-md-6  " *ngFor="let data of TwoCards">
      <img [src]="Url+data.imageDetail[0].imageUrl" class="img-fluid  mt-5 me-2 two" width="560px"  >
    </div>
  </div>
</div>

<!-- Two Images -->

<div class="fourcardheading">
  <h3>Delicious Delights</h3>
  <h1 class="mt-4">Mouth-<span style="color: #FFB000;">watering</span>&nbsp;Menus</h1>
  <h3 class="mt-4">"We'll customize our recommendations to your taste buds"</h3>
</div>


<!-- banner image  -->
<section class="section cta" style="height: 400px;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="text-center">
					<span class="h6 letter-spacing text-white">Dscover your potential</span>
					<h2 class="text-lg mt-4 mb-5 text-white">
						Book your early seat to get <span class="text-color">summer 25% </span>dicsount
					</h2>

					<a href="pricing.html" class="btn btn-main text-white">Join Today</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- banner Image -->

<!-- frequently Questions -->
<div class="question mt-5 py-5" >
  <section id="faq" class="faq ">
    <div class="container" data-aos="fade-up">
      <div class="text-center mt-5 pt-5 py-4 ">
        <h2>Frequently <span style="color: #FFB000 ;">&nbsp;Asked&nbsp;</span> Questions</h2>
      </div>
      <ul class="faq-list " data-aos="fade-up" *ngFor="let data of  GetFreq ; let i=index" >
        <li>
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1"><span style="font-size: 20px; color: #FFB000;" >{{i+1}}</span>: {{data.headingQue}}
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              🟡 {{data.AnswerQue}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  </div>
  <!-- frequently Questions -->






