<h2 class="text-center mt-3">Our Menu</h2>
<div class="container d-flex justify-content-center mt-5 ">
    <div class="card p-3">
      <h3>StarterFood-Cards</h3>
      <form [formGroup]="foodcards" (ngSubmit)="Submitmyfoodform()">
        <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="FoodName" required>
        <input type="text" class="mb-3 form-control" placeholder="Enter Your Description" formControlName="FoodDescription" required>
        <input type="number" class="mb-3 form-control" placeholder="Enter Your Price" formControlName="Price" required>
        <input type="file" id="myfile4" name="myfile4" (change)="FoodImage($event)" #fileSelect class="mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  
    <div class="card p-3">
      <h3>BreakFastFood-Cards</h3>
      <form [formGroup]="breakfastfoodcards" (ngSubmit)="SubmitmyBreakfastform()">
        <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="FoodName" required>
        <input type="text" class="mb-3 form-control" placeholder="Enter Your Description" formControlName="FoodDescription" required>
        <input type="number" class="mb-3 form-control" placeholder="Enter Your Price" formControlName="Price" required>
        <input type="file" id="myfile5" name="myfile5" (change)="BreakFastImage($event)" #fileSelect class="mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div class="card p-3">
        <h3>LunchFood-Cards</h3>
        <form [formGroup]="Lunchfoodcards" (ngSubmit)="Submitmylunchfoodform()">
          <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="FoodName" required>
          <input type="text" class="mb-3 form-control" placeholder="Enter Your Description" formControlName="FoodDescription" required>
          <input type="number" class="mb-3 form-control" placeholder="Enter Your Price" formControlName="Price" required>
          <input type="file" id="myfile5" name="myfile5" (change)="lunchFoodImage($event)" #fileSelect class="mt-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
  </div>

  <hr>

  <div class="card2 p-3 ">
    <h3>PopularFood-Cards</h3>
    <form [formGroup]="populafoodcard" (ngSubmit)="submitpopularFood()">
      <input type="text" class="mb-3 form-control" placeholder="Enter Your Heading" formControlName="CardHeading" required>
      <input type="text" class="mb-3 form-control" placeholder="Enter Your Description" formControlName="CardDescription" required>
      <input type="file" id="myfile4" name="myfile4" (change)="popularFoodImage($event)" #fileSelect class="mt-3">
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>