


<div style="position: relative;">
    <video autoplay loop muted plays-inline>
      <source src="../../../../assets/pic/pexels-rodnae-productions-5848445-1920x1080-24fps.mp4" type="video/mp4" width="100%">
    </video>
    <div style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);">
      <h1 style="color: white; font-size: 48px;">ADVENTURE AWAITS</h1>
      <h4 style="color: white;" class="d-flex justify-content-center">What Are You Waiting For?</h4>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-lg btn-outline-light mx-2 mt-4" >GET STARTED</button>
        <button type="button" class="btn btn-lg btn-light mx-2 mt-4" >WATCH TRAILER</button>
        </div>

    </div>
  </div>