
*{
  font-family: 'Nanum Myeongjo';
  
}
#menu{
  margin-top: 60px;
}
.back-video{
    width: 100%;
    height: 170%;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -6; 
   
    
  }
  
  .back-video video{
    width: 100%;
    height: 800px;
    object-fit: cover;
  }

 .blah{
    margin-bottom: 40px;
 }
  /*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu .nav-tabs {
    /* border: 0; */
    /* background-color: #FFB000; */
    color: #000;
    /* border: 2px solid black; */
  }
  
  .menu .nav-link {
    margin: 0 10px;

    cursor: pointer;
    height: 100%;

    background-color: #888783;

  }
  
  @media (max-width: 575px) {
    .menu .nav-link {
      margin: 0 10px;
      padding: 10px 0;
    }
  }
  
  .menu .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    /* font-family: var(--font-secondary); */
  }
  
  @media (max-width: 575px) {
    .menu .nav-link h4 {
      font-size: 16px;
    }
  }
  
  .menu .nav-link:hover {
    background-color: #ddd;
  }
  
  .menu .nav-link.active {
    /* color: var(--color-primary);
    border-color: var(--color-primary); */
  }
  
  .menu .tab-content .tab-header {
    padding: 30px 0;
  }
  
  .menu .tab-content .tab-header p {
    /* font-size: 14px;
    text-transform: uppercase;
    color: #676775;
    margin-bottom: 0; */
  }
  
  .menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .menu .tab-content .menu-item {
    -moz-text-align-last: center;
    text-align-last: center;
  }
  
  .menu .tab-content .menu-item .menu-img {
    padding: 0 60px;
    margin-bottom: 15px;
  }
  
  .menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 30px;
    margin-bottom: 5px;
  }
  
  .menu .tab-content .menu-item .ingredients {
    font-family: var(--font-secondary);
    color: #8d8d9b;
    margin-bottom: 5px;
  }
  
  .menu .tab-content .menu-item .price {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
  }


  #menu{
    margin-top: 10%;
  }
.gallery{
  margin-top: 10%;
}



.course .card-body a h4:hover {
  color: #FFB000;
}

.course-widget li a {
  color: #232323;
  opacity: 0.9;
}

.course{
  margin-top: 9%;
}


/* .btn {
  background: #f39c12;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn:hover {
  background: #fff;
  box-shadow: 0px 2px 20px 10px #97B1BF;
  color: #000;
} */




















/* GENERAL STYLES */

 body {
  text-align: center;
  background: black;
}

p {
  color: #ddd;
  font-family: Helvetica;
  font-size: 16px;
  margin: 20px 0 0 0;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
}

a,
span {
  font-size: 20px;
}

svg {
  width: 130px;
  height: 40px;
} 


/* THE ROUND PSEUDO-ELEMENT HOVER STYLES */
.round,
.svg,
.highlight {
  max-width: 960px;
  margin:0 auto;
}

.round a {
  color: #f39c12;
}

.round .button {
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f39c12;
  transition: color .5s;
}

.round .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #f39c12;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.round .button:hover {
  color: #fff;
}

.round .button:nth-child(1):before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.round .button:nth-child(1):hover:before {
  top: -30px;
  left: -30px;
}

.round .button:nth-child(2):before {
  left: -30px;
  bottom: 100%;
  transition: all .7s;
}

.round .button:nth-child(2):hover:before {
  bottom: -50px;
}

.round .button:nth-child(3):before {
  top: 0;
  left: -200%;
  transition: all .7s;
}

.round .button:nth-child(3):hover:before {
  top: -30px;
  left: -30px;
} 


/* THE SVG HOVER EFFECTS */
 .svg .button {
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  height: 40px;
  margin: 20px;
  overflow: hidden;
} 

 .svg .button:nth-child(3) {
  overflow: visible;
  position: relative;
  top: -20px;
}

.svg .button rect {
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 4px;
  stroke-dashoffset: 400px;
  stroke: olivedrab;
}

.svg .button span {
  color: olivedrab;
  width: 130px;
  height: 40px;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  transition: all .2s linear;
}

.svg .button span:hover {
  color: #fff;
  background: olivedrab;
  transition: all 1s cubic-bezier(1.25s 0, 1.15, 1, 1);
  transition-delay: .5s;
}

.svg .button:nth-child(1):hover rect {
  animation: draw1 .75s linear forwards;
}

.svg .button:nth-child(2):hover rect {
  animation: draw2 .75s linear forwards;
}

.svg .button:nth-child(3) span {
  border: 3px solid olivedrab;
  transform: scale(1);
  width: 125px;
  height: 35px;
  line-height: 37px;
}

.svg .button:nth-child(3):hover span {
  animation: draw3 .75s linear forwards;
}

@keyframes draw1 {
  0% {
      stroke-dasharray: 300;
      stroke-dashoffset: 700;
      stroke-width: 4px;
  }
  75% {
      stroke-dasharray: 900;
      stroke-width: 1px;
  }
  100% {
      stroke-dasharray: 900;
      stroke-width: 1px;
  }
}

@keyframes draw2 {
  0% {
      stroke-dashoffset: 350;
      stroke-dasharray: 350;
  }
  50% {
      stroke-dashoffset: 600;
      stroke-dasharray: 400;
      stroke-width: 1px;
  }
  100% {
      stroke-dashoffset: 900;
      stroke-dasharray: 400;
      stroke-width: 1px;
  }
}

@keyframes draw3 {
  100% {
      transform: scale(1.35);
  }
} 


/* HIGHLIGHT */
.highlight .button {
  display: inline-block;
  color: #fff;
  background: darkred;
  margin: 20px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.highlight .button:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .7);
  transform: rotate(20deg);
}

.highlight .button:hover:before {
  left: 150px;
  transition: all .5s;
}
.highlight {margin-bottom:100px;} 



@media (max-width: 767px) {
  .video-content {
    margin-top: 30px; /* Adjust the margin value as needed */
   
  }
 
}

@media (max-width: 767px) {
  .video-content h1.display-4 {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: 500;
  }

  .video-content h4.display-6 {
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: 500;
  }
  .video-content .btn {
    border-width: 1px;
    margin-bottom: 20px; /* Adjust the border size as needed */
  }
}

























.star-rating {
  display: flex;
}
.checked {
  color: orange;
}
.fixed-image-size {
  width: 400px;
  height: 300px;
}