<!-- <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../../../assets/pic/cardi.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section> -->



  <h4 class="text-center mt-5">Three-<span style="color:#FFB000 ;">Cards</span>-Analytics</h4>
  <table class="table table-striped table-hover table-sm mt-5">
      <thead class="text-light">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Image</th>
          <th class="text-center">FoodName</th>
          <th class="text-center">Status</th>
          <th class="text-center">status summary</th>
          <th class="text-center" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of cartItems ; let i=index">
          <th class="text-center text-light">{{i+1}}</th>
          <td class="text-center"><img [src]="Url+data.imageDetails.imageUrl" class="img rounded-circle" style="width: 60px; height: 60px;"></td>
          <td class="text-center text-light">{{data.imageHeading}}</td>
          <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'"></td>
          <td class="text-center" [ngClass]="data.status === 1 ? 'text-success' : 'text-danger'"></td>
          <td class="text-center"><i class="fa-solid fa-eye text-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal9" ></i></td>
          <td></td>
          <td class="text-center"><button class="btn btn-outline-danger">Hard Delete</button></td>
        </tr>
      </tbody>
    </table>
