<div style="position: relative;">
    <video autoplay loop muted plays-inline class="w-100" >
      <source src="../../../../assets/pic/video3.mp4" type="video/mp4">
    </video>
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
      <div class="video-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="display-4" style="color: white;font-weight: bold;">ADVENTURE AWAITS</h1>
              <h4 class="display-6" style="color: white; font-weight: bold;">What Are You Waiting For?</h4>
              <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-lg btn-outline-light mx-2">GET STARTED</button>
                <button type="button" class="btn btn-lg btn-light mx-2">WATCH TRAILER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>