.navbar-brand {
    margin-left: 50px;
  }

  .contact{
    margin-right: 50px;
  }

  div ul li a {
    font-size: 22px;
    
  }
  
 #text:hover {
    color: #FFB000;
  }

  .transparent-navbar {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
  }

