 /* .navbar-brand {
    margin-left: 50px;
  }

  .contact{
    margin-right: 50px;
  }

  div ul li a {
    font-size: 22px;
    
  }
  
 #text:hover {
    color: #FFB000;
  }

  .transparent-navbar {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
  } 
 */


 *{
  font-family: 'Nanum Myeongjo';
}



.header_change{
  /* position: fixed; */
  background:rgb(13,7,5);
  width: 100%;
  z-index: 1;
  top:0;
  left: 0;
  transition: 0.4s all linear;

}
.navbar-brand{
font-family: 'Cinzel' !important;

}

  /* Media query for mobile screens */
  @media (max-width: 767px) {
    .header_change {
      background: black !important;
    }
  }







  .navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
  }